@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Libre+Franklin:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    margin: 8px auto;
    width: 90%;
    background-color: lightblue;
    line-height: 1.4;
}

h1, h2 {
    font-family: 'Heebo', sans-serif;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.sitefooter {
    height: 3.5em;
    background-color: #ffa459;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.siteheader {
    display: flex;
    padding: 10px;
}

.navbar {
    height: 50px;
}

.navbar a {
    display: flex;
    float: left;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.toppage {
    background-image: linear-gradient(orange, lightblue);
}

.reporttext {
    margin-bottom: 20px;
}

.cardred {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    color: red;
}

.cardblack {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.card {
    display: inline-block;
    margin: 15px 15px 15px 0;
    width: 80px;
    height: 120px;
    font-size: 25px;
    background-color: white;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-block {
    display: block;
    font-weight: bold;
}

.link-margin {
    margin-top: 10px;
}

.input-box {
    display: block;
    border: 1.5px solid;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
    width: 32rem;
}

.input-submit {
    font-weight: bold;
    padding: 10px;
}

label {
    font-weight: bold;
    margin: 16px 0 8px 0;
    display: block;
}

.bookimg {
    width: 100px;
    height: 150px;
}

table {
    border-collapse: separate;
    border-spacing: 20px 0;
}
