{% extends "base.html.twig" %}

{% block title %}Startsida{% endblock %}

{% block content %}
<h1>Startsida</h1>

<img src="img/programming.jpg" width="200px" alt="Programmering i JavaScript">

<p><a href="{{ absolute_url("img/programming.jpg") }}">Visa bilden</a></p>

<h2>Presentation</h2>
<p>Jag heter Kalle Anka och är en glad anka som gillade bilar, framförallt sopbilar när jag var barn.
Därefter hamnade jag på det tekniska spåret och blev intresserad av hur programmering fungerade.
Ett intresse som ökade när jag läste tekniska programmet på gymnasiet.
Förutom intresse för programmering är jag också intresserad av sport, fast inte att utöva själv utan kolla på,
bland annat fotboll, ishockey &#127954;, basket &#127936; och speedway.
</p>

{% endblock %}
