{% extends "base.html.twig" %}

{% block title %}Redovisningar{% endblock %}

{% block content %}
<h1>Redovisningar</h1>

<h2>Kmom01</h2>
<div class="reporttext">
    <p>Jag har tidigare arbetat med PHP i kursen Webtec och i kursen design blev jag bekant med Twig och
    fördjupade mina kunskaper inom style CSS. Innan jag började studera på BTH Webbprogrammering hade jag
    förkunskaper i grunderna om HTML och CSS från kursen Webbutveckling på gymnasiet. Där läste jag också
    kursen Programmering 2 där jag arbetade med grunderna i objektorienterad programmering i Python.</p>
</div>

<div class="reporttext">
    <p>Innan man börjar med att skapa egna klasser i PHP bör man känna till språket. Det innebär bland
    annat att man vet hur man deklarerar variabler, delar upp sin kod i filer, hur man använder operatorer,
    strängar, arrayer, if-satser, loopar. Det är bra om man vet hur man använder fördefinierade variabler
    som $_SERVER och $_SESSION. Det är också bra om man känner till inbyggda funktioner som header().
    Inom klasser är det bra att ha kännedom om mutable/immutable objekt, alltså om objektet kan ändras på
    i efterhand. Det är också bra att veta när man ska göra variabler och metoder privata eller publika i
    klasser.</p>
</div>

<div class="reporttext">
    <p>Stukturen i me/report upplevde jag först vara lite krånglig och omfattande. Men jag börjar komma in i
    strukturen allt mer. Det finns många filer som behöver finnas för att det ska fungera, men jag behöver
    inte skapa eget innehåll i många av filerna. Det är främst i mapparna public, src och templates jag
    behöver arbeta.</p>
</div>

<div class="reporttext">
    <p>När jag läser artikeln “PHP The Right Way” tänker jag på att jag i min kod vill utnyttja så mycket som
    möjligt av det som språket PHP erbjuder. Jag ser fram emot att lära mig mer om klasser och se om det finns
    några begränsningar jämfört med andra programmeringsspråk. Jag ser även fram emot att koppla PHP mot
    databaser. Något som jag också är viktigt är felhantering, hur man kan göra exceptions för att hantera
    när något går fel.</p>
</div>

<p>Mitt TIL för detta kursmoment är att jag kommit igång med Symfony och skapat en webbplats.</p>

<h2>Kmom02</h2>

<h2>Kmom03</h2>

<h2>Kmom04</h2>

<h2>Kmom05</h2>

<h2>Kmom06</h2>

<h2>Kmom10</h2>

{% endblock %}
